/Servidor/NetBeansProyect/FloristeriaJSF/target/
/Servidor/NetBeansProyect/subidaArchivosJSF/target/
/Servidor/NetBeansProyect/TiendaJSF/target/
/Servidor/NetBeansProyect/SenecaExa22_AlejandroMendoza/target/
/Servidor/NetBeansProyect/JuegaPalabrasJSF_AlejandroMendoza/target/
/Servidor/NetBeansProyect/PrimerFacelets/target/
/Servidor/NetBeansProyect/PrimerPrimeFaces/target/
