div#contenedor {
    width: 900px;
    height: 600px;
    background-image: url(../img/Edit-IMG_7274.jpg);
    background-size: cover;
    margin: auto;
    background-attachment: fixed;
    background-position: 70%;
    position: relative;
}

#cristal, #texto {
    border: solid 1px white;
    width: 70%;
    height: 40%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.8),
        inset 0 0 2000px rgba(255,255,255,0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15% 0 0 -35%;
    filter: blur(10px);
    background: inherit;
}

#texto {
    filter: none;
    background: none;
    display: table;
}

#centrado {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}