@charset "utf-8";

/* CSS Document */
#divmiForm,
#tabla {
    position: absolute;
    top: 2em;
    right: 3em;
    width: auto;
    height: auto;
    border: solid 2px brown;
    background-color: #CFF
}

/* background-color:#9FF}*/
input[type=number] {
    width: 75px
}

input:valid {
    color: black
}

#cancela,
#guarda,
#borra,
.borrar {
    float: right;
}

#jugar table,
#editar table {
    border: solid 2px red
}