/*FIX MARGENES POR DEFECTO*/
body, html {
    margin: 0;
    padding: 0;
    border: none;
}
/*-------------------------*/

body {
    background-color: white;
}

h1 {
    animation-name: movimiento;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in;
    animation-delay: 1s;
}

@keyframes movimiento {
    0% {
        margin-left: 0%;
        color: blue;
    }

    50% {
        font-size: 50px;
        color: aquamarine;
    }

    100% {
        margin-left: 70%;
        color: red;
    }
}