<table class="content-table">
    <thead>
        <tr>
            <th *ngFor='let v of getArray()[0] | keyvalue: ordenOriginal'>
                {{v.key}}
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let prov of getArray()'>
            <td *ngFor='let v of prov | keyvalue: ordenOriginal'>
                {{v.value}}
                <a routerLink="/pueblos/{{v.key}}">Pincha</a>
            </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
