<h2>Alta cliente</h2>
<form [formGroup]="miForm" (ngSubmit)="alta()">
  <p>
    <span>Nombre:</span>
    <input name="nombre" formControlName="nombre" type="text">
  </p>
  <p>
    <span>CIF:</span>
    <input name="cif" formControlName="cif" type="text">
  </p>
  <p>
    <span>Dirección:</span>
    <input name="direccion" formControlName="direccion" type="text">
  </p>
  <p>
    <span>Grupo:</span>
    <select name="grupo" formControlName="grupo">
      <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.nombre}}</option>
    </select>
  </p>
  
  <button (click)="registrar()" [disabled]="miForm.invalid">
    Registro!
  </button>

  <p>Form value {{miForm.value | json}}</p>
  <p>From status {{miForm.status | json}}</p>
  <p>Form invalid {{miForm.invalid | json}}</p>
  <p>Form valid {{miForm.valid | json}}</p>

  <span>
    Errores nif:
    {{miForm.get('cif')?.errors | json}}   
  </span><br>

  <span>
    Errores nif 2:
    {{getError('cif')}}
  </span>

</form>
