/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
    overflow: hidden;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}
  
:root {
    --main-color: #98003f;
}

html {
    font-size: 18px;
}

/* ipad */
@media screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

/* laptop */
@media screen and (min-width: 1200px) {
    html {
        font-size: 22px;
    }
}