@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: #343a40;
  line-height: 1;
  display: block;
  justify-content: center;
}

table {
  width: 200px;
  border-right-color: #ffffff;
  font-size: 11px;
  border: 1px solid #343a40;
  border-collapse: collapse; 
}

th, td {
  /* border: 1px solid #343a40; */
  padding: 10px 10px;
  text-align: left;
}

th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(odd){
  background-color: #f8f9fa;
}


tbody tr:nth-child(even){
  background-color: #e9ecef;
}