<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--servlet>
        <servlet-name>BuscaPoblaciones</servlet-name>
        <servlet-class>BuscaPoblaciones</servlet-class>
    </servlet-->
    <servlet>
        <servlet-name>BuscaCoordenadas</servlet-name>
        <servlet-class>BuscaCoordenadas</servlet-class>
    </servlet>
    <!--servlet-mapping>
        <servlet-name>BuscaPoblaciones</servlet-name>
        <url-pattern>/BuscaPoblaciones</url-pattern>
    </servlet-mapping-->
    <servlet-mapping>
        <servlet-name>BuscaCoordenadas</servlet-name>
        <url-pattern>/BuscaCoordenadas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>poblacionesAjax.html</welcome-file>
    </welcome-file-list>
    
    <!--security-constraint>
    <web-resource-collection>
      <web-resource-name>Acceso a la Aplicacion " Poblaciones "</web-resource-name>
     
       <url-pattern>/*</url-pattern>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
       <role-name>alcalde</role-name>
    </auth-constraint>
    
        <user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    
    </security-constraint-->
     <login-config>
        <auth-method>DIGEST</auth-method>
        <realm-name>PedidosCD Application</realm-name>
    </login-config>
    
</web-app>
